.container
  .row
    .col-sm-6.col-sm-offset-3
      h1.text-center JobStatus
      .text-center
        = link_to 'Create new job', create_job_path, remote: true, method: :post, class: 'btn btn-primary'
      br
      .panel.panel-default ng-controller="JobsController"
        .panel-body
          ul
            li ng-repeat="(k, item) in jobs"
              | {{item.job_class_name}} {{item.job_id}}
              div.pull-right class="label label-{{status_class[item.status]}}"
                | {{status_text[item.status]}}
            li ng-if="!jobs.length"
              .text-muted No jobs
