.no-l-p {
  padding-left: 0;
}
.f-h {
  height: 100%;
}

html, body, .wrapper {
  height: 100%;
}

body {
  font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #555;
  //background: url("/IMG-4.png") 50% -70px no-repeat;
}

.wrapper {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0 15px;
  //overflow: hidden;
  //background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.3);
  border: 1px solid #ccc;
  border-width: 0 1px;
}

.sidebar {
  .app-name {
    font-size: 22px;
    line-height: 57px;
    padding-left: 13px;
    margin-bottom: 5px;
    .fa {
      margin-right: 5px;
    }
  }

  hr { 
    margin: 15px 0;
  }

  .nav-pills a {
    color: inherit;
    & .fa {
      margin-right: 12px;
    }
  }

  .nav > li > a {
    padding: 7px 15px;
  }

  .nav-pills li.active a:link,
  .nav-pills li.active a:visited {
    color: #337AB7;
    background: transparent;
  }

  .nav li a .badge {
    line-height: 13px;
    background-color: #EEE;
  }

  .btn {
    width: 100%;
    font-size: 15px;
  }
}

.navbar {
  margin-top: 3px;

  .nav > li > a:hover {
    background: transparent;
  }

  a.unread:before {
    position: absolute;
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-radius: 50%;
    background: #F30F0F;
  }
}

.page-content {
  margin-top: -76px;
  padding-top: 60px;
  margin-right: -15px;
  overflow: auto;
  margin-right: -15px;

  .container-fluid {
    background: #D3D9DE;
  }

  h1 {
    font-weight: bold;
  }
}

input[type="search"] {
  padding-right: 30px;
  & + .fa-search {
    position: absolute;
    margin-left: -23px;
    margin-top: 10px;
  }
}
