doctype html
html ng-app="app"
  head
    title BackgroundJobs
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=PT+Sans:400,700'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  body
    == yield
    javascript: window.FAYE_URL = #{raw FayeHelper.url.to_json}
    = javascript_include_tag 'application'
